{% extends "base.html" %}

{% block title %}Contact Me{% endblock %}

{% block content %}
    <main id="contact">
        <h1 class="lg-heading">
            Contact
            <span class="text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">
            This is how you can reach me...
        </h2>
        <div class="boxes">
            <div>
                <span class="text-secondary">Email: </span> ameer.abdulaziz93@gmail.com
            </div>
            <div>
                <span class="text-secondary">Phone: </span> +201113264340
            </div>
        </div>
    </main>
{% endblock %}